@section head {
    <script>
        
        var uid, accessToken;
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@ViewBag.AppID', // App ID
                channelUrl: '//localhost:@ViewBag.Port/Home/Channel', // Channel File
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            // Additional initialization code here
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    // the user is logged in and has authenticated your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token
                    // and signed request each expire
                    uid = response.authResponse.userID;
                    accessToken = response.authResponse.accessToken;
                    if (console && console.log) {
                        console.log(uid);
                        console.log(accessToken);
                    }
                    $("#start").hide();
                    $("#oponent").show();
                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook,
                    // but has not authenticated your app
                    $("#start").show();
                } else {
                    // the user isn't logged in to Facebook.
                    alert("not logged in to facebook");
                    $("#start").show();
                }
            });
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        } (document));
    </script>
}

@section startupScript{
    <script type="text/javascript">
        $(function () {
            var viewModel = {
                Friends: ko.observableArray([])
            };

            ko.applyBindings(viewModel);
            $("#aFriend").click(function () {
                $.ajax({
                        url: "@ViewBag.WebApiUrl/friends?facebookId=" + uid + "&token=" + accessToken,
                    }).done(function (data) {
                        $("#friend-list").show();
                        viewModel.Friends(ko.mapping.fromJS(data)());
                    });
            });
        });
    </script>
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>WhoIzIt?</h1>
            <h2>Guess who it is</h2>
        </hgroup>
        <p>
            some lorem ipsum text!
        </p>
    </div>
</section>
}
<div id="fb-root">
  <!-- you must include this div for the JS SDK to load properly -->
</div>

<div id="start" class="hidden">
    <a href="@ViewBag.AuthUrl" target="_top">Start Playing</a>
</div>
<div id="oponent" class="hidden">
    <a href="#_self" id="aFriend">Play with friend</a><br />
    <a href="">Play with random person</a>
</div>
<div id="friend-list" class="hidden" data-bind="foreach: Friends">
    <img data-bind="attr: {src: PicUrl} " alt="" src="" />
    <span data-bind="text: Name"></span>
    <span data-bind="text: Status"></span><br />
</div>