@section head {
    <script type="text/javascript">
        
        var uid, accessToken;
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@ViewBag.AppID', // App ID
                channelUrl: '//localhost:@ViewBag.Port/Home/Channel', // Channel File
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            // Additional initialization code here
            FB.getLoginStatus(function (response) {
                //$("#splash").hide();
                if (response.status === 'connected') {
                    // the user is logged in and has authenticated your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token
                    // and signed request each expire
                    uid = response.authResponse.userID;
                    accessToken = response.authResponse.accessToken;
                    if (console && console.log) {
                        console.log(uid);
                        console.log(accessToken);
                    }
                    $("#board").show();
                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook,
                    // but has not authenticated your app
                    $("#newuser").show();
                } else {
                    // the user isn't logged in to Facebook.
                    $("#newuser").show();
                }
            });
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        } (document));
    </script>
}

@section startupScript{
    <script type="text/javascript">
        $(function () {
            var viewModel = {
                Friends: ko.observableArray([])
            };

            ko.applyBindings(viewModel);
            $("#aFriend").click(function () {
                $.ajax({
                        url: "@ViewBag.WebApiUrl/friends?facebookId=" + uid + "&token=" + accessToken,
                    }).done(function (data) {
                        $("#friend-list").show();
                        viewModel.Friends(ko.mapping.fromJS(data)());
                    });
            });
        });
    </script>
}
<div id="maincontent">
    @*<div id="splash" class="content-wrapper hidden">
        <img src="@Url.Content("~/Images/splash.jpg")" alt="WhoIzIt?" width="467" height="400" />
    </div>
    <div id="newuser" class="hidden">
        <hgroup class="title">
            <h1>WhoIzIt?</h1>
            <h2>Guess who...</h2>
        </hgroup>

        <article>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus tincidunt justo nec tempor. 
                Aliquam erat volutpat. Fusce facilisis ullamcorper consequat. Vestibulum non sapien lectus. Nam 
                mi augue, posuere at tempus vel, dignissim vitae nulla. Nullam at quam eu sapien mattis ultrices. 
                Quisque quis leo mi, at lobortis dolor. Nullam scelerisque facilisis placerat. Fusce a augue 
                erat, malesuada euismod dui. Duis iaculis risus id felis volutpat elementum. Fusce blandit iaculis 
                quam a cursus. Cras varius tincidunt cursus. Morbi justo eros, adipiscing ac placerat sed, posuere 
                et mi. Suspendisse vulputate viverra aliquet. Duis non enim a nibh consequat mollis ac tempor 
                lorem. Phasellus elit leo, semper eu luctus et, suscipit at lacus. In hac habitasse platea 
                dictumst. Duis dignissim justo sit amet nulla pulvinar sodales.
            </p>
        </article>
        <div id="start">
            <a href="@ViewBag.AuthUrl" target="_top">Start Playing</a>
        </div>
    </div>*@
    <div id="board">
       <div id="leftmenu" class="float-left">hello
        </div>
        <div id="content">
            <table id="friendboard">
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            </table>
        </div>
        <div id="controls">hey2</div>
    </div>
</div>

@*<div id="oponent" class="hidden">
        <a href="#_self" id="aFriend">Play with friend</a><br />
        <a href="">Play with random person</a>
    </div>
    <div id="friend-list" class="hidden" data-bind="foreach: Friends">
        <img data-bind="attr: {src: PicUrl} " alt="" src="" />
        <span data-bind="text: Name"></span>
        <span data-bind="text: Status"></span><br />
    </div>*@
