html {
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

header, footer, hgroup,
nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 760px;
}

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/*---------------------Header---------------------*/
header .box
{
    border: 1px solid #000;
    display: inline-table;
    width: 100%;
}

/* menu */
nav {
    margin-bottom: 5px;
}

ul.menu {
    margin: 10px;
    padding: 0;
}

ul.menu li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.menu li a, .rounded-link {
    background: none;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 50px;
    text-align: center;
    margin-right: 10px;
}

ul.menu li a:hover {
    text-decoration: none;
}

#logo
{
    margin-right: 100px;
    vertical-align: bottom;
    margin-top: 10px;
}

/*----------------------body--------------*/
.main-content {
    padding-left: 10px;
    padding-top: 30px;
}

#body {
    clear: both;
    padding-bottom: 35px;
    min-height: 400px;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

#splash 
{
    text-align: center;
}

/*----------------------footer--------------*/
footer {
    clear: both;
    height: 100px;
}

ul#social li {
    display: inline;
    list-style: none;
}

ul#social li a {
    color: #999;
    text-decoration: none;
}

a.facebook, a.twitter {
    display: block;
    float: left;
    height: 24px;
    padding-left: 17px;
    text-indent: -9999px;
    width: 16px;
}

a.facebook {
    background: url("../Images/facebook.png") no-repeat;
}

a.twitter {
    background: url("../Images/twitter.png") no-repeat;
}


.hidden
{
    display: none;
}

#friend-list
{
    height: 300px;
    width: 250px;
    overflow: auto;
}
