<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WhozitEntities" connectionString="metadata=res://*/WhoIzItModel.csdl|res://*/WhoIzItModel.ssdl|res://*/WhoIzItModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nnrymwhg9p.database.windows.net;initial catalog=Whozit;persist security info=True;user id=Whozit1@nnrymwhg9p;password=P@$$w0rd1;encrypt=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>